@{
    ViewBag.Title = "User Home";

    if (TempData["Success"] != null)
    {
        <div class="alert alert-success my-2">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success: </strong> @TempData["Success"]
        </div>
    }
    if (TempData["Error"] != null)
    {
        <div class="alert alert-danger my-2">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error: </strong> @TempData["Error"]
        </div>
    }
}

@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin.</h1>
    <h2>You can create user roles.</h2>
    <h3>
        @Html.ActionLink("Manage Screen", "AdminManage", "Admin")
    </h3>
    <h5>
        @Html.ActionLink("Old Role Manager", "ViewCreateRole", "Users")
    </h5>
}
else
{
    <h2>Welcome <strong>@ViewBag.Name</strong> :) We will add user module soon.</h2>
}
