@model IEnumerable<MVC_LoginAdmin.Models.UserWithRole>
@{
    ViewData["Title"] = "All Users";

    if (TempData["Success"] != null)
    {
        <div class="alert alert-success my-2">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Success: </strong> @TempData["Success"]
        </div>
    }
    if (TempData["Error"] != null)
    {
        <div class="alert alert-danger my-2">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error: </strong> @TempData["Error"]            
        </div>
    }
}

<p>
    @Html.ActionLink("Create New", "Register", "Account")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { uid = item.UserId }, null) |

                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                <a href="/Users/Details?username=@item.Username">Details</a> |

                @Html.ActionLink("Delete", "Delete", "Users", new { id = item.UserId }, null);

                <!--, new { id = item.UserId },
                new { onclick = "return confirm('Confirmation of Delete User?');" })-->
            </td>
        </tr>
    }

</table>
